# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# AMBIENTE VIRTUAL
# =========================
venv/
.venv/
env/

# =========================
# VARIÁVEIS / SENHAS
# =========================
.env
*.env
!.env.example
.env.local
.env.*.local
.vercel/

# =========================
# BANCO LOCAL
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# CREDENCIAIS ESP32
# =========================
scripts/esp32/secrets.h

# =========================
# SUPABASE CLI
# =========================
supabase/.temp/

.vercel
.env*
!.env.example
